
.weatherDataCont{
background: #f3ebeb;
width:400px;
height:100px ;
line-height: 50px;
margin: auto;

}

.weatherExtraInfoCont{
width: 40%;

display: inline-block;


}
.weatherExtraInfoCont span{

    font-family:'Roboto', sans-serif;
    color: blue;
}
.weatherTemperatureCont{
width:60%;
display: inline-block;

}
.weatherLocationCont{
    background:#f8dfdf;
    
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 40px -12px rgba(0,0,0);
    padding: 25px;

}